# Querying the data from InfluxDB using Python

In [6]:
import pandas as pd
import influxdb_client
from influxdb_client.client.write_api import SYNCHRONOUS
import influxdb_client.client.influxdb_client

In [7]:
#Setting up Database (Connection string)
client = influxdb_client.InfluxDBClient(
    url='http://ec2-3-120-10-156.eu-central-1.compute.amazonaws.com:8086',
    token='kp_gJV8Y7aOZB0odriHj1o_qWurQmxzBXpTU_kYY4JnQ88e9X1TI3ifFVA1pUyGZshZfTpeaTlTWgYAUESTMvw==',
    org='my-org'
)

In [8]:
# Instantiating the query client
queryAPI = client.query_api()

In [9]:
#create flux query (Flux is the InfluxDB query language)
myquery_location = 'from(bucket: "air-quality") |> range(start: 2013-03-25T00:00:00Z, stop: 2013-05-01T00:00:00Z)' \
            '|> filter(fn: (r) => r["_measurement"] == "location-tag-only")' \
            '|> filter(fn: (r) => r["_field"] == "TEMP")'

In [10]:
# Creating a DataFrame with the data I am querying
location_df = queryAPI.query_data_frame( query= myquery_location)

In [11]:
print(location_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2383 entries, 0 to 2382
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   result        2383 non-null   object
 1   table         2383 non-null   int64
 2   _start        2383 non-null   datetime64[ns, tzutc()]
 3   _stop         2383 non-null   datetime64[ns, tzutc()]
 4   _time         2383 non-null   datetime64[ns, tzutc()]
 5   _value        2383 non-null   float64
 6   _field        2383 non-null   object
 7   _measurement  2383 non-null   object
 8   station       2383 non-null   object
dtypes: datetime64[ns, tzutc()](3), float64(1), int64(1), object(4)
memory usage: 186.2+ KB
None

In [12]:
print(location_df)

       result  table                    _start                     _stop  \
0     _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
1     _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2     _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
3     _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
4     _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
...       ...    ...                       ...                       ...
2378  _result      2 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2379  _result      2 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2380  _result      2 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2381  _result      2 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2382  _result      2 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00

                         _time  _value _field       _measurement       station
0    2013-03-25 16:00:00+00:00    10.3   TEMP  location-tag-only  Aotizhongxin
1    2013-03-25 17:00:00+00:00     9.8   TEMP  location-tag-only  Aotizhongxin
2    2013-03-25 18:00:00+00:00     9.2   TEMP  location-tag-only  Aotizhongxin
3    2013-03-25 19:00:00+00:00     8.9   TEMP  location-tag-only  Aotizhongxin
4    2013-03-25 20:00:00+00:00     8.5   TEMP  location-tag-only  Aotizhongxin
...                        ...     ...    ...                ...           ...
2378 2013-04-30 09:00:00+00:00    24.2   TEMP  location-tag-only      Dingling
2379 2013-04-30 10:00:00+00:00    26.2   TEMP  location-tag-only      Dingling
2380 2013-04-30 11:00:00+00:00    27.0   TEMP  location-tag-only      Dingling
2381 2013-04-30 16:00:00+00:00    28.9   TEMP  location-tag-only      Dingling
2382 2013-04-30 17:00:00+00:00    27.9   TEMP  location-tag-only      Dingling

[2383 rows x 9 columns]

In [13]:
myquery_everything = 'from(bucket: "air-quality") |> range(start: 2013-03-25T00:00:00Z, stop: 2013-05-01T00:00:00Z)' \
            '|> filter(fn: (r) => r["_measurement"] == "full-tags")' \
            '|> filter(fn: (r) => r["_field"] == "TEMP")'

In [14]:
everything_df = queryAPI.query_data_frame( query= myquery_everything)

In [15]:
print(everything_df)

       result  table                    _start                     _stop  \
0     _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
1     _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2     _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
3     _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
4     _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
...       ...    ...                       ...                       ...
2378  _result     47 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2379  _result     47 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2380  _result     47 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2381  _result     47 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2382  _result     47 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00

                         _time  _value _field _measurement       station   wd
0    2013-03-28 06:00:00+00:00     4.6   TEMP    full-tags  Aotizhongxin    E
1    2013-03-29 08:00:00+00:00     6.5   TEMP    full-tags  Aotizhongxin    E
2    2013-03-29 12:00:00+00:00     9.1   TEMP    full-tags  Aotizhongxin    E
3    2013-03-30 00:00:00+00:00     4.3   TEMP    full-tags  Aotizhongxin    E
4    2013-03-30 04:00:00+00:00     2.5   TEMP    full-tags  Aotizhongxin    E
...                        ...     ...    ...          ...           ...  ...
2378 2013-04-23 17:00:00+00:00    14.2   TEMP    full-tags      Dingling  WSW
2379 2013-04-24 05:00:00+00:00     6.1   TEMP    full-tags      Dingling  WSW
2380 2013-04-24 10:00:00+00:00    20.9   TEMP    full-tags      Dingling  WSW
2381 2013-04-28 01:00:00+00:00    14.8   TEMP    full-tags      Dingling  WSW
2382 2013-04-29 04:00:00+00:00    15.5   TEMP    full-tags      Dingling  WSW

[2383 rows x 10 columns]

In [16]:
location_df.head()

,result,table,_start,_stop,_time,_value,_field,_measurement,station
0,_result,0,2013-03-25 00:00:00+00:00,2013-05-01 00:00:00+00:00,2013-03-25 16:00:00+00:00,10.3,TEMP,location-tag-only,Aotizhongxin
1,_result,0,2013-03-25 00:00:00+00:00,2013-05-01 00:00:00+00:00,2013-03-25 17:00:00+00:00,9.8,TEMP,location-tag-only,Aotizhongxin
2,_result,0,2013-03-25 00:00:00+00:00,2013-05-01 00:00:00+00:00,2013-03-25 18:00:00+00:00,9.2,TEMP,location-tag-only,Aotizhongxin
3,_result,0,2013-03-25 00:00:00+00:00,2013-05-01 00:00:00+00:00,2013-03-25 19:00:00+00:00,8.9,TEMP,location-tag-only,Aotizhongxin
4,_result,0,2013-03-25 00:00:00+00:00,2013-05-01 00:00:00+00:00,2013-03-25 20:00:00+00:00,8.5,TEMP,location-tag-only,Aotizhongxin