# Querying the data from InfluxDB using Python

In [2]:
import pandas as pd
import influxdb_client
from influxdb_client.client.write_api import SYNCHRONOUS
import influxdb_client.client.influxdb_client

In [3]:
#Setting up Database (Connection string)
client = influxdb_client.InfluxDBClient(
    url='ec2-35-157-40-78.eu-central-1.compute.amazonaws.com:8086',
    token='z7o_5pRpzKhz6yv9eJezq575NsOfQJkzVukK8YfSkrqZ_B-RHZs1f2mYoOR67J6mKb_Wh_clzBuhz0AVTTW0Sg==',
    org='my-org'
)

In [4]:
# Instantiating the query client
queryAPI = client.query_api()

In [5]:
#create flux query (Flux is the InfluxDB query language)
myquery_location = 'from(bucket: "air-quality") |> range(start: 2013-03-25T00:00:00Z, stop: 2013-05-01T00:00:00Z)' \
            '|> filter(fn: (r) => r["_measurement"] == "location-tag-only")' \
            '|> filter(fn: (r) => r["_field"] == "TEMP")'

In [6]:
# Creating a DataFrame with the data I am querying
location_df = queryAPI.query_data_frame( query= myquery_location)

In [7]:
print(location_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 786 entries, 0 to 785
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   result        786 non-null    object
 1   table         786 non-null    int64
 2   _start        786 non-null    datetime64[ns, tzutc()]
 3   _stop         786 non-null    datetime64[ns, tzutc()]
 4   _time         786 non-null    datetime64[ns, tzutc()]
 5   _value        786 non-null    float64
 6   _field        786 non-null    object
 7   _measurement  786 non-null    object
 8   station       786 non-null    object
dtypes: datetime64[ns, tzutc()](3), float64(1), int64(1), object(4)
memory usage: 61.4+ KB
None

In [8]:
print(location_df)

      result  table                    _start                     _stop  \
0    _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
1    _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2    _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
3    _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
4    _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
..       ...    ...                       ...                       ...
781  _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
782  _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
783  _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
784  _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
785  _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00

                        _time  _value _field       _measurement       station
0   2013-03-25 16:00:00+00:00    10.3   TEMP  location-tag-only  Aotizhongxin
1   2013-03-25 17:00:00+00:00     9.8   TEMP  location-tag-only  Aotizhongxin
2   2013-03-25 18:00:00+00:00     9.2   TEMP  location-tag-only  Aotizhongxin
3   2013-03-25 19:00:00+00:00     8.9   TEMP  location-tag-only  Aotizhongxin
4   2013-03-25 20:00:00+00:00     8.5   TEMP  location-tag-only  Aotizhongxin
..                        ...     ...    ...                ...           ...
781 2013-04-30 19:00:00+00:00    21.7   TEMP  location-tag-only  Aotizhongxin
782 2013-04-30 20:00:00+00:00    20.7   TEMP  location-tag-only  Aotizhongxin
783 2013-04-30 21:00:00+00:00    20.9   TEMP  location-tag-only  Aotizhongxin
784 2013-04-30 22:00:00+00:00    20.7   TEMP  location-tag-only  Aotizhongxin
785 2013-04-30 23:00:00+00:00    16.1   TEMP  location-tag-only  Aotizhongxin

[786 rows x 9 columns]

In [9]:
myquery_everything = 'from(bucket: "air-quality") |> range(start: 2013-03-25T00:00:00Z, stop: 2013-05-01T00:00:00Z)' \
            '|> filter(fn: (r) => r["_measurement"] == "full-tags")' \
            '|> filter(fn: (r) => r["_field"] == "TEMP")'

In [10]:
everything_df = queryAPI.query_data_frame( query= myquery_everything)

In [11]:
print(everything_df)

      result  table                    _start                     _stop  \
0    _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
1    _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
2    _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
3    _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
4    _result      0 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
..       ...    ...                       ...                       ...
781  _result     15 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
782  _result     15 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
783  _result     15 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
784  _result     15 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00
785  _result     15 2013-03-25 00:00:00+00:00 2013-05-01 00:00:00+00:00

                        _time  _value _field _measurement       station   wd
0   2013-03-28 06:00:00+00:00     4.6   TEMP    full-tags  Aotizhongxin    E
1   2013-03-29 08:00:00+00:00     6.5   TEMP    full-tags  Aotizhongxin    E
2   2013-03-29 12:00:00+00:00     9.1   TEMP    full-tags  Aotizhongxin    E
3   2013-03-30 00:00:00+00:00     4.3   TEMP    full-tags  Aotizhongxin    E
4   2013-03-30 04:00:00+00:00     2.5   TEMP    full-tags  Aotizhongxin    E
..                        ...     ...    ...          ...           ...  ...
781 2013-04-25 20:00:00+00:00    12.1   TEMP    full-tags  Aotizhongxin  WSW
782 2013-04-26 02:00:00+00:00     6.9   TEMP    full-tags  Aotizhongxin  WSW
783 2013-04-26 14:00:00+00:00    24.3   TEMP    full-tags  Aotizhongxin  WSW
784 2013-04-28 08:00:00+00:00    16.3   TEMP    full-tags  Aotizhongxin  WSW
785 2013-04-30 02:00:00+00:00    14.3   TEMP    full-tags  Aotizhongxin  WSW

[786 rows x 10 columns]

In [12]:
location_df.head()

,result,table,_start,_stop,_time,_value,_field,_measurement,station
0,_result,0,2013-03-25 00:00:00+00:00,2013-05-01 00:00:00+00:00,2013-03-25 16:00:00+00:00,10.3,TEMP,location-tag-only,Aotizhongxin
1,_result,0,2013-03-25 00:00:00+00:00,2013-05-01 00:00:00+00:00,2013-03-25 17:00:00+00:00,9.8,TEMP,location-tag-only,Aotizhongxin
2,_result,0,2013-03-25 00:00:00+00:00,2013-05-01 00:00:00+00:00,2013-03-25 18:00:00+00:00,9.2,TEMP,location-tag-only,Aotizhongxin
3,_result,0,2013-03-25 00:00:00+00:00,2013-05-01 00:00:00+00:00,2013-03-25 19:00:00+00:00,8.9,TEMP,location-tag-only,Aotizhongxin
4,_result,0,2013-03-25 00:00:00+00:00,2013-05-01 00:00:00+00:00,2013-03-25 20:00:00+00:00,8.5,TEMP,location-tag-only,Aotizhongxin